.root-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  .root-header {
    margin-bottom: 80px;
    border-bottom: 5px solid #EAD704;
    h1 {
      font-family: 'Rubik Dirt', cursive;
      color: white;
      font-size: 60px;
    }
  }
  .search-box {
    margin-bottom: 100px;
  }
}
