@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body {
  background-image: url('./assets/img/background.jpeg');
  font-family: 'Montserrat', sans-serif;
  color: #262626;
  font-size: 16px;
}

main {
  max-width: 1000px;
  background-color: #ffffff;
  margin: 0 auto;

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    padding: 2rem 5% 1rem 5%;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    padding: 0 5% 3rem 5%;
  }
}
